@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 320px){

    #main{      /*----landing page-----*/
        background-image: url("../images/tor.jpg");
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        top: 0;
        display: table;
    
    }
    

    


    
}


@media screen and (min-width: 580px){

    #main{
        background-image: url("../images/tor.jpg");
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        top: 0;
        display: table;
    
    }
    
    h1{
        font-family: sans-serif;
        letter-spacing: 12px;
        font-size: 50%;
    }
    
    h3{
        padding-top: 10px;
        font-family: Baskerville, Georgia, serif;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 10px;
    }
    
    .infoDark{
        font-family: Baskerville, Georgia, serif;
        font-size: 17px;
        font-style: italic;
        display: inline;
        color: white;
  
    }
    .infoLight{
        font-family: Baskerville, Georgia, serif;
        font-size: 17px;
        font-style: italic;
        display: inline;
        color: black;
  
    }
    
    /*---------Start of parallax----------*/
    
    .paral{
        text-align: center;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        height: 500px;
    }

    .paralSec{
        background-color: #33ccff;
        height: 500px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
    }


    /*---------End of parallax----------*/
}

@media screen and (min-width: 960px){
    

    #main{
    background-image: url("../images/tor.jpg");
    height: 100%;
    width: 100%;
    margin: auto;
    background-size: cover;
    top: 0;
    display: table;
    
    }


    



    
    
 

}/*END OF MEDIA */
