@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 320px){

    #main{      /*----landing page-----*/
        background-image: url("../images/tor.jpg");
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        top: 0;
        display: table;
    
    }
    
    h1{
        font-family: sans-serif;
        letter-spacing: 12px;
    }
    
    h3{
        padding-top: 10px;
        font-family: Baskerville, Georgia, serif;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: auto;
    }
    
    .infoDark{      /*----jquery.html-----*/
        font-family: Baskerville, Georgia, serif;
        font-size: 14px;
        font-style: italic;
        display: inline;
        color: white;
  
    }
    .infoLight{     /*----jquery.html-----*/
        font-family: Baskerville, Georgia, serif;
        font-size: 14px;
        font-style: italic;
        display: inline;
        color: black;
  
    }
    img{    
        width: 90%;
        height: 50%;
    }
    .head{
        font-weight: bold;
        padding-left: 5%;
        font-size: 16px;
    }
    
    #summary{   /*----me.html-----*/
        color: black;
        font-size-adjust: auto;
        line-height: 30px;
        padding: 30px 20px 40px 20px; 
        text-align: justify;
                
    }
    
    #profile{   /*----me.html-----*/
        margin-top: 5%;
        width: 200px;
        height: 200px;
        border-radius: 90%;
    }
    
    /*---------Start of parallax----------*/
    
    .paral{
        text-align: center;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        color: black;
        height: 550px;
    }

    .paralSec{
        background-color: #33ccff;
        height: 600px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
    }


    /*---------End of parallax----------*/
	
    /* *********** ME PAGE *********** */
    
    #intro{
      
        margin-left: 5%;
        margin-right: 3%
    }

    #a{
        padding-bottom: 12%;
    }
    #c{
        padding-bottom: 12%;
    }
    #b{
        padding-top: 5%;
    }

    .light{
        color: gray;
        padding-left: 5%;
        font-size: 16px;
    }

    .subHead{
        font-size: 18px;
    }
    
/* *********** END OF ME PAGE *********** */
    
}


@media screen and (min-width: 580px){

    #main{
        background-image: url("../images/tor.jpg");
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        top: 0;
        display: table;
    
    }
    
    h1{
        font-family: sans-serif;
        letter-spacing: 12px;
        font-size: 50%;
    }
    
    h3{
        padding-top: 10px;
        font-family: Baskerville, Georgia, serif;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 10px;
    }
    
    .infoDark{
        font-family: Baskerville, Georgia, serif;
        font-size: 17px;
        font-style: italic;
        display: inline;
        color: white;
  
    }
    .infoLight{
        font-family: Baskerville, Georgia, serif;
        font-size: 17px;
        font-style: italic;
        display: inline;
        color: black;
  
    }
    
    /*---------Start of parallax----------*/
    
    .paral{
        text-align: center;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        color: black;
        height: 500px;
    }

    .paralSec{
        background-color: #33ccff;
        height: 500px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
    }


    /*---------End of parallax----------*/
}

@media screen and (min-width: 960px){
    

    #main{
    background-image: url("../images/tor.jpg");
    height: 100%;
    width: 100%;
    margin: auto;
    background-size: cover;
    top: 0;
    display: table;
    
    }

	h1{
        font-family: sans-serif;
        letter-spacing: 35px;
        font-size: 90px;
    }
    h3{
        padding-top: 10px;
        font-family: Baskerville, Georgia, serif;
        font-weight: 400;
        letter-spacing: 10px;
        font-size: 30px;
    }
    
    .infoDark{
        font-family: Baskerville, Georgia, serif;
        font-size: 24px;
        font-style: italic;
        display: inline;
        color: white;
  
    }
    .infoLight{
        font-family: Baskerville, Georgia, serif;
        font-size: 24px;
        font-style: italic;
        display: inline;
        color: black;
  
    }
    
    #img1, #img3{
        width: 30%;
    }
    #img2{
        width: 55%;
    }

    
    /*---------Start of parallax----------*/
    
    .paral{
        text-align: center;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        color: black;
        height: 750px;
        
    }

    .paralSec{
        background-color: black;
        height: 500px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        height: 750px;
    }

    .paralInner{
        padding-left: 50px;
        padding-right: 50px;
        margin-right: 200px;
        margin-left: 200px;
        line-height: 40px;
    }


/*---------End of parallax----------*/
    
    
    
/* -----------ME PAGE-----------*/
    
    #dropdown2, #info{
        background-color: #80dfff;        
    }
    #info{
        padding-bottom: 6%;
    }
    
    #intro{
        padding: 15px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #a{
        padding-bottom: 12%;
    }
    #c{
        padding-bottom: 12%;
    }
    #b{
        padding-top: 35%;
    }

    .box{
        margin-right: 10%;
        margin-left: 20%;
        position: absolute;
        float: right;
    }

    .light{
        color: gray;
        padding-left: 0%;
        font-size: 16px;
    }

    .subHead{
        font-size: 18px;
    }
    
    #summary{
        margin-top: 4%;
        font-size: 25px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
        line-height: 45px;
        font-family: 'Roboto Slab', serif;        
    }
    
    #profile{
        width: 300px;
        height: 300px;
        border-radius: 90%;
    }

    
    
    
    
/* -----------END OF ME PAGE-----------*/
    

}/*END OF MEDIA */
