html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#jqueryMain{
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
}

#content{
    color: white;
    vertical-align: middle;
    display: table-cell;
    text-align: center; 
    text-shadow: 0px 0px 300px #000;
}

.infoDark{
    font-family: Baskerville, Georgia, serif;
    font-size: 24px;
    font-style: italic;
    display: inline;
    color: white;

}
.infoLight{
    font-family: Baskerville, Georgia, serif;
    font-size: 24px;
    font-style: italic;
    display: inline;
    color: black;

}

#info{
    text-align: center;
}

#linkedin{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align:center;
}

#banner{
    background: #568ACC;
    width: auto;
    height: 360px;
}
#Title{
    padding: 10px;
    text-align: center;
    
}
