
#mainblocka{background:aliceblue; height:250px;}
#mainblockb {background:bisque; height:250px;}
#menu{

    font-family: cursive;
    font-size: 14px;
}
#location{
    font-family: fantasy;
    word-spacing: 10px;
    letter-spacing: 3px;
}
#header{
    font-family: Caflisch Script Pro;
}


.ui-icon-canada:after
{
	background-image: url("images/canada.png");
	background-size: 22px 22px;
}
.ui-icon-tims:after
{
	background-image: url("images/tims.png");
	background-size: 22px 22px;
}
.ui-icon-bluejays:after
{
	background-image: url("images/bluejays.png");
	background-size: 22px 22px;
}
